.venv
.venv/*
.env
.common
.winvenv
env/
venv/
ENV/
env.bak/
venv.bak/

.idea
.idea/*

__pycache__/
__pycache__

staticfiles/
**/migrations/*
!**/migrations/__init__.py

# Visual Studio Code #
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

PersonalProjectManager/db.sqlite3
PersonalProjectManager/.env

.todo